CORE_POSTGRES_USER=postgres
CORE_POSTGRES_PASSWORD=postgres
CORE_POSTGRES_DB=auth_db
CORE_POSTGRES_PORT=5433

TIMESCALE_USER=postgres
TIMESCALE_PASSWORD=postgres
TIMESCALE_DB=data_db
TIMESCALE_PORT=5434
